@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h5>Custom tag helper demo</h5>
    <printer text="Custom tag helper woohoo!" number="100"></printer>
</div>
<div class="text-center mt-5">
    <h6>See more <a href="https://github.com/DamianEdwards/TagHelperPack">examples of tag helpers in ASP.NET Core here</a>.</h6>
</div>